/* Estrutura do site
*/
* {
	margin:0;
	padding:0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../img/fundo.png) repeat-x;
}

#container {
	width: 850px;
	margin: 0 auto;
}

#topo {
	height: 150px;
	background: url(../img/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
	/*border: 1px solid red;*/
}

.logo {
	width: 152px;
	height: 66px;
	background: url(../img/logo.png) no-repeat center;
	text-indent: -3000px;
}

/* Barra de navegação
*/
a:link, a:visited {
	color: #b10333;
	padding: 2px;
}

a:hover {
	color: #e50040;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul {
	margin-top: 30px;
	background: #b10333;
	float: left;
}

#topo ul li {
	float: left;
}

#topo ul a {
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.5em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(../img/divisor.png) no-repeat left center;
}

#topo ul .primeiro a {
	background: none;
}

#topo ul a:hover {
	color: #69001d;
}

/* Conteudo */

#conteudo{
	width: 80%;
	margin-top: 60px;
	float: right;
}

#conteudo-principal{
	width: 40%;
	float: left;
}

#conteudo-secundario{
	width: 40%;
	float: right;
}

#conteudo-principal-um{
	margin-top: 10px;
	background: #f3f3f3 url(../img/fundo-caixa.png);
}

#conteudo-principal-um h3{
	background: #294c71;
	color: white;
	padding: 5px;
}

#conteudo-principal-um span{
	background: #b10333;
	color: white;
	padding: 2px;
	text-transform: uppercase;
}

#conteudo-principal-um img{
	width: 100%;
	overflow: hidden;
	border: 3px solid grey;
}

#conteudo-principal-um .controller{
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 10px;
}

/**/

#conteudo-principal-dois{
	margin-top: 10px;
	background: #f3f3f3;
}

#conteudo-principal-dois h3{
	background: #294c71;
	color: white;
	padding: 5px;
}

#conteudo-principal-dois img{
	float: left;
	width: 50%;
}

#conteudo-principal-dois p, h4{
	float: right;
	width: 50%;
}

#navegacao{
	width: 20%;
	float: left;
}
